*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 80px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500 bold;
}

.hero {

    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.hero-content {
    max-width: 700px;
}

.hero h1{
    font-size: 4rem;
}

.hero h2{
    margin-top: 20px;
}

.hero p{
    margin-top: 25px;
    line-height: 1.7;
}

.hero-buttons {
    margin-top: 20px;
}
.hero-buttons a{
    
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;

}

.about{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: auto;
    padding: 40px;
}

.skills{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;
}