*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #273043;
    color: #EFF6EE;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 80px;
    
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a{
    text-decoration: none;
    color: #EFF6EE;;
    font-weight: 500 bold;
}

.nav-links a:hover{
   
    color: #F02D3A;
}

.nav-links a:active{
   
    color: #EFF6EE;
}

.hero {

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("resources/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.hero-content {
    width: 90%;
    max-width: 700px;
    text-shadow: 4px 4px 10px black;
    flex-shrink: 0;
}

.hero h1{
    font-size: 4rem;
}

.hero h2{
    margin-top: 20px;
}

.hero p{
    margin-top: 25px;
    line-height: 1.7;
}

.hero-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    filter: drop-shadow(0px 4px 10px #F02D3A );
    
}
/* .hero-buttons a{
    
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 4px 4px 20px white;
    background-color: #EFF6EE;
    padding: 5px;
    cursor:grab;
} */

.photo-class{
    display: flex;
    justify-content: center;
}

.photo{
    border: 2px solid;
    min-height: 200px;
    min-width: 200px;
    max-width: 210px;
    border-radius: 100px;
    margin: 60px;
    border-color: #9197AE;

    background-image: url(resources/photo.jpg);
    background-size: cover;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
}

.photo:hover{
    transform: scale(1.5) translateY(10px);
    filter: drop-shadow(4px 4px 0px #F02D3A);
    border-color: #273043;
}

.about{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 20px;
    padding-left: 40px;
}

.skills{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;
}

.skills-languages, .skills-database, .skills-libraries, .skills-tools{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.projects{

    padding: 40px;

}

.particle{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    text-align: center;
    text-shadow: 4px 10px 10px #9197AE;

    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("resources/particle-playground.gif");
    background-position: center;
    background-size: cover;
/* 
    display: flex;
    flex-direction: column; */

    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0;
}

.particle-stack, .particle-description, .particle-github, .particle-demo{
    margin-top: 20px;
}

.particle h3{
    font-weight: 900 bold;
}

.particle-tag{
    text-align: left;
    margin-bottom: 10px;
    font-size: small;
}

/* .particle-github a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #EFF6EE;
    padding: 5px;
    background-color: #EFF6EE;


} */

/* .particle-demo a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #EFF6EE;
    padding: 5px;
    background-color: #EFF6EE;
} */

.particle-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    filter: drop-shadow(0 4px 10px #F02D3A);
}

.particle-download a:hover{
    transform: translateY(-6px);
    filter: drop-shadow(0 4px 0px #F02D3A);
}

/* .particle-github a:hover, .expense-github a:hover, .soldier-github a:hover, .user-management-github a:hover, .hero-buttons a:hover, .dsa-buttons a:hover, .expense-demo a:hover, .particle-demo a:hover, .soldier-demo a:hover, .user-management-demo a:hover, .array-vis-demo a:hover, .array-vis-github a:hover{

    box-shadow: 4px 4px 10px #F02D3A;
    background-color: #273043;
    color: #EFF6EE;
    cursor: grab;
} */

/* .particle-github a:active, .expense-github a:active, .soldier-github a:active, .user-management-github a:active, .hero-buttons a:active, .dsa-buttons a:active, .soldier-demo a:active, .particle-demo a:active, .expense-demo a:active, .user-management-demo a:active, .array-vis-demo a:active, .array-vis-github a:active{
    background-color: #F02D3A;
    color: #EFF6EE;
} */

.particle-description ul{
    
    list-style-type: none;
    text-align: left;
}

.project-contents{
    display:flex;
    flex-wrap:wrap;

    justify-content:center;

    gap:30px;
}

.soldier {

    margin-top: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    text-align: center;
    text-shadow: 4px 10px 10px #9197AE;

    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(resources/soldier-background.gif);
    background-position: center;
    background-size: cover;

}

.soldier h3{
    margin-top: 20px;
}

.soldier-stack, .soldier-description, .soldier-github{
    margin-top: 20px;
}


/* .soldier-github a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #EFF6EE;
    box-shadow: 4px 4px 10px #EFF6EE;
}

.soldier-demo a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #EFF6EE;
    box-shadow: 4px 4px 10px #EFF6EE;
} */

.soldier-description ul{
    list-style-type: none;
    text-align: left;
}
.soldier-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    filter: drop-shadow(0 4px 10px #F02D3A);
}

.expense{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    text-align: center;
    text-shadow: 4px 10px 10px #9197AE;

    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("resources/expense-background.gif");
    background-position: center;
    background-size:cover;

}

.expense h3{
    margin-top: 20px;
}

.expense-stack, .expense-description, .expense-github{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .expense-github a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #EFF6EE;
    box-shadow: 4px 4px 10px #EFF6EE;
} */

.expense-description ul{
    
    list-style-type: none;
    text-align: left;
}

.expense-buttons{
    display: flex;
    justify-content:center;
    /* flex-wrap: wrap; */
    gap: 10px;

    /* flex-direction: column; */
}

.expense-buttons a{
    display: inline-flex;
    padding: 0;
    margin: 0;
    line-height: 0;
    width: fit-content;
    height: fit-content;
}

.expense-buttons img{
    display: block;
    filter: drop-shadow(0 4px 10px #F02D3A);
}

.expense-tag{
    text-align: left;
    font-style:oblique;
    font-size: small;
}

.user-management{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    text-align: center;
    text-shadow: 4px 10px 10px #9197AE;

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("resources/user-management-background.gif");
    background-size:cover;

}

.user-management h3{
    margin-top: 20px;
}

.user-management-stack, .user-management-description, .user-management-github, .soldier-demo, .user-management-demo, .expense-demo{
    margin-top: 20px;
}

/* .user-management-github a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #EFF6EE;
    box-shadow: 4px 4px 10px #EFF6EE;
}

.user-management-demo a{
     text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #EFF6EE;
    box-shadow: 4px 4px 10px #EFF6EE;
} */

.user-management-description ul{
    list-style-type:none;
    text-align: left;
    /* padding-left: 20px; */
}

.user-management-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    filter: drop-shadow(0 4px 10px #F02D3A);
}

.array-vis{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    text-align: center;
    text-shadow: 4px 10px 10px #9197AE;

    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)),url("resources/array-vis-background.gif");
    background-position: center;
    background-size: cover;

}

.array-vis h3{
    margin-top: 20px;
}

.array-vis, .expense, .user-management, .particle, .soldier, .array-vis-demo, .array-vis-github, .user-management-demo, .user-management-github, .expense-demo, .expense-github, .particle-demo, .particle-github,.particle-download, .soldier-demo, .soldier-github, .soldier-download, .hero-github, .hero-linkedin, .dsa-github, .leetcode{
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.array-vis:hover, .expense:hover, .particle:hover, .soldier:hover, .user-management:hover{
      transform: translateY(6px) translateX(-3px) scale(1.15);
      /* box-shadow: 5px 5px 10px #F02D3A; */
       filter: drop-shadow(5px 4px 0px #F02D3A);
}


.array-vis-demo:hover, .array-vis-github:hover, .expense-demo:hover, .expense-github:hover, .particle-demo:hover, .particle-github:hover, .particle-download:hover, .soldier-demo:hover, .soldier-github:hover,.soldier-download:hover, .user-management-demo:hover, .user-management-github:hover, .dsa-github:hover, .leetcode:hover, .hero-github:hover, .hero-linkedin:hover{
    transform: translateY(-5px);
    filter: drop-shadow(0 4px 10px #F02D3A);
}

.array-vis-stack{
    margin-top: 20px;
}

.array-vis-description ul{
   
    list-style-type: none;
    text-align: left;
    margin: 20px 0px;
}

.array-vis-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    filter: drop-shadow(0 4px 10px #F02D3A);
}

/* .array-vis-demo a, .array-vis-github a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #EFF6EE;
    box-shadow: 4px 4px 10px #EFF6EE;

} */

/* .particle-demo,.particle-github, .soldier-demo, .soldier-github, .expense-demo, .expense-github, .user-management-demo, .user-management-github,.array-vis-demo,.array-vis-github {
    box-shadow: 4px 4px 15px #9197AE;
} */

.dsa{

    margin-left: 40px;
}

.dsa-description{
    margin-top: 10px;
    margin-bottom: 20px;
}

/* .dsa-github a{
    text-decoration: none;
    color: #273043;
    border: 2px solid;
    border-radius: 10px;
    background-color: #EFF6EE; 
    padding: 5px;
} */

/* .leetcode a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #EFF6EE;
    color: #273043;
} */

.dsa-buttons{
    display: flex;
    gap: 10px;
    filter: drop-shadow(0px 4px 20px #F02D3A);
}

/* .border{
    border: 2px solid #9197AE;
    margin-top: 20px;
} */
.contact{
    /* margin-top: 20px; */
    text-align: center;
    /* margin: 40px; */
    border: 2px solid #171C27;
    background-color: #1E2533;
    margin-top: 40px;

}

.contact-contents{
    margin-top: 10px;
    padding-bottom: 10px;
}

.contact-contents a{
    text-decoration: none;
    color: #9197AE;
}

.contact-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    
}

.contact-links a:hover{

    color: #F02D3A;
}

.website-stack {
    margin: 10px;
}

@media (max-width:768px){

    nav{
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero h1{
        font-size: clamp(2.5rem, 8vw, 4rem);
    }

    .photo{
        width: 100px;
    }

}

